<div class="add_post">
    <form action="add_post" method="post">
        <table class="add_post_title">
            <tr>
                <td>제목 ▶</td>
                <td>
                    <div class="post_title">
                        <input type="text" name="title" autocomplete="off" required placeholder="제목">
                    </div>
                </td>
            </tr>
        </table>
        <table class="add_post_url">
            <tr>
                <td>URL ▶</td>
                <td>
                    <div class="post_url">
                        <input type="text" name="url" autocomplete="off" required placeholder="URL">
                    </div>
                </td>
            </tr>
        </table>
        <table class="add_post_text">
            <tr>
                <td>내용 ▶</td>
                <td>
                    <div class="post_text">
                        <textarea name="text" autocomplete="off" required placeholder="내용"></textarea>
                    </div>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>태그 ▶</td>
                <td>
                    <div class="add_post_tag">
                        <input type="text" name="tag1" autocomplete="off" placeholder="태그1">
                        <input type="text" name="tag2" autocomplete="off" placeholder="태그2">
                        <input type="text" name="tag3" autocomplete="off" placeholder="태그3">
                        <input type="text" name="tag4" autocomplete="off" placeholder="태그4">
                        <input type="text" name="tag5" autocomplete="off" placeholder="태그5">
                        <input type="text" name="tag6" autocomplete="off" placeholder="태그6">
                        <input type="text" name="tag7" autocomplete="off" placeholder="태그7">
                        <input type="text" name="tag8" autocomplete="off" placeholder="태그8">
                        <input type="text" name="tag9" autocomplete="off" placeholder="태그9">
                        <input type="text" name="tag10" autocomplete="off" placeholder="태그10">
                    </div>
                </td>
            </tr>
        </table>
        <button type="submit">작성</button>
        <button type="button" onclick="history.back(-1)">취소</button>
    </form>
</div>