<div class="login_form">
    <a href="/">
       <img src="images/logo1.png" width=200>
    </a>
    <form action="login" method="post">
        <div class="int_area">
            <input type="text" name="id" id="id" autocomplete="off" required placeholder="USER ID">
        </div>
        <div class="int_area">
            <input type="password" name="pw" id="pw" autocomplete="off" required placeholder="PASSWORD">
        </div>
        <div class="btn_area">
            <button type="submit">LOGIN</button>
        </div>
    </form>
    <div class="caption">
        <div>
            <a href="create_account">회원가입하기</a> 
        </div>
        <div>
            <a href="">비밀번호를 잊으셨나요?</a>
        </div>
    </div>
</div>