<div class="mainbody">
    <div class="intro">
        <br><br>
        <span style="font-size: 70px;">🐣</span><br><br>
        처음 오셨나요?<br>
        <span class="hi">👋 반가워요! '뭐였더라'에 방문하신 것을 환영합니다.</span>
        <span class="help">
            <ul>
                <a href=""><li>'뭐였더라' 가 뭐였더라?</li></a>
                <a href=""><li>이용방법이 뭐였더라?</li></a>
                <a href=""><li>누가 만들었더라?</li></a>
                <a href=""><li>로그인, 회원가입하기</li></a>
            </ul>
        </span>
    </div>
</div>