*{
    image-rendering: -webkit-optimize-contrast;
}
body{
    margin: 0;
    background-color: #253035;
    height: 100vh;
}
a{
    text-decoration: none;
    color : white;
}
ul{
    list-style-type: square;
}
.intro{
    background-color: #253035;
    line-height: 40px;
    padding-top : 50px;
    color:white;
    font-family: 'bazzi', 배찌체;
    font-size: 50px;
    font-weight: 400;
}
.intro .hi{
    font-size: 20px;
}
.intro .help{
    line-height: 70px;
    font-size: 30px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #253035;
    align-items: center;
    padding: 8px 12px;
}
.navbar_menu{
    display: flex;
    list-style: none;
    padding-left: 0;
}
.navbar_menu li{
    padding: 8px 12px;
}
.navbar_menu li:hover{
    background-color: #455050;
    border-radius: 4px;
}
.navbar_login{
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0;
}
.navbar_login li:hover{
    background-color: #455050;
    border-radius: 4px;
}
.navbar_login li{
    padding: 8px 12px;
}
.navbar_toggle{
    display: none;
    position: absolute;
    right: 32px;
    padding-top: 20px;
}
.contents{
    background-color: #253035;
}
.mainbody{
    background-color: white;
    margin-left: 20%;
}
.login_form{
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    padding-top: 150px;
    align-items: center;
    
    background-color: #253035;
    position: relative;
    z-index: 2;
}
.login_form h1{
    font-size: 32px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}
.int_area{
    width: 400px;
}
.int_area input{
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
    font-size: 18px;
    color: white;
    outline: none;
}
.btn_area{
    margin-top: 30px;
}
.btn_area button{
    width: 100%;
    height: 50px;
    background: #20a020;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.caption{
    margin-top: 20px;
    text-align: center;
}
.caption div{
    background-color: #253035;
}
.caption a{
    font-size: 15px;
    color: #999;
    text-decoration: none;
}
.postlist_wrap{
    padding: 100px;
}
.postlist{
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
    color: white;
}
.postlist tr{
    border-bottom: 1px solid #999;
}
.postlist th,
.postlist td{
    padding: 5px;
    text-align: center;
}
.postlist tbody tr td:nth-child(2){
    text-align: left;
}
.pagelist{
    text-align: center;
}
.pagelist a{
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 5px;
}
.read_post_wrap{
    margin: 100px;
    color: white;
}
.read_post_wrap table{
    padding-bottom: 30px;
}
.post_text tr td{
    vertical-align: top;
    height: 400px;
    width: 300px;
}
.read_post_wrap table tr td:nth-child(1){
    width: 150px;
    font-weight: 700;
}
.post_tag span{
    border: 1px solid white;
    border-radius: 10px;
    padding: 3px 8px;
    margin-right: 10px;
}
.create_account{
    
    margin: 100px;
    color: white;
    text-align: center;
}
.table_create_account{
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    text-align: left;
}
.table_create_account tr td:nth-child(1){
    width: 150px;
    font-weight: 700;
}
@media screen and (max-width: 753px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar_menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar_menu li{
        width: 100%;
        text-align: center;
    }
    .navbar_login{
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar_toggle{
        display: block;
    }
    .navbar_menu.active,
    .navbar_login.active{
        display: flex;
    }
}